
<div class="page-header">
    <h1>Address book</h1>
</div>

<table class="table table-striped table-hover">
    <thead>
        <th>First name</th>
        <th>Middle name</th>
        <th>Last name</th>
        <th></th>
    </thead>
    <tbody>
        <tr ng-repeat="address in addresses.content">
            <td>{{ address.firstname }}</td>
            <td>{{ address.middlename }}</td>
            <td>{{ address.lastname }}</td>
            <td><a class="btn" href="/angular-playground/addressbook/entry/{{ address.id }}">edit</a></td>
        </tr>
    </tbody>
</table>

<div class="pagination">
    <ul>
        <li ng-class="{disabled: !hasPreviousPage()}"><a href="#">Prev</a></li>

        <li ng-repeat="n in pages()"
            ng-class="{active: n == addresses.number}">
            <a href="/angular-playground/addressbook/{{ n }}">{{ n + 1 }}</a>
        </li>

        <li ng-class="{disabled: !hasNextPage()}"><a href="#">Next</a></li>
    </ul>
</div>


<a href="/angular-playground/addressbook/entry/new" class="btn btn-primary">Add new</a>
